.embedded .detail-header {
	display: block;
	margin-top: 15px;
}

.detail .detail-header .report-actions {
	display: block;
}

.detail .detail-header .report-actions div:nth-child(4) {
	display: none;
}
